<div class="container-fluid my-auto navbar-style py-3 " style="margin: auto;">
  <div class="row">
    <div id="col-md-10 col-12 mx-auto">

      <nav class="navbar navbar-expand-lg navbar-light bg-light m-5 " style="border-radius:  20px;">
        <a class="navbar-brand ml-5 text-capitalize font-weight-bold lg" style="margin : auto 50px; font-size : 30px" id="logo"  href="/">BLOG-POST</a>
        <button class="navbar-toggler bg-light mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="margin: auto 70%">
            <li class="nav-item active">
              <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#aboutid">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#serviceid">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contactid">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>